// Section 1
// import '../Assets/Images/Morant.png'
.header
    width: 100vw
    height: 15vh
    // background: #818181
    // background: #464646
    // background: red
    
    display: inline-flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    align-content: center
    align-items: center

    .logo
        width: 90px
        height: 90px
        border-radius: 100%
        background: red
        margin-left: 7%
        flex: 0 1 auto

    .spacingOne
        width: 5%

    .userIcon
        width: 75px
        height: 75px
        // background-image: url('/../src/Assets/Images/Morant.png')
        background-image: url('../Assets/Images/Morant.png')
        background-position: 0 0
        background-size: cover
        background-repeat: no-repeat
        border: 1px solid white
        // background: #464646
        border-radius: 100%
        margin-left: 60%

    .dreamTeamHeading
        font-family: Basketball 
        // font-family: avenir
        color: white
        letter-spacing: 2px