html
    background: #1e1e1e
    h2
        font-family: Avenir
    h1
        // font-family: Basketball 
        font-family: avenir
        color: white
        // letter-spacing: 2px
    
h4
    // font-family: Basketball 
    color: white
    letter-spacing: 1px  


    @font-face 
        font-family:Basketball 
        src: url('/../src/Assets/Fonts/Basketball.otf')

    ion-icon
        font-size: 30px
    




.mainContainer
    width: 100vw
    height: 100vh
      

           
// Section 2
.vertNavBar
    width: 20%
    height: 80vh
    // background: #464646
    // background: green
    display: flex
    flex-direction: column
    justify-content: stretch
    align-items: center
    float: left

    .navSpacerOne
        width: 100%
        height: 4vh
        // background: red
        float: left

    // .navSpacerTwo
    //     width: 100%
    //     height: 10px
    //     // background: red
    //     float: left

    .navSpacerThree
        width: 100%
        height: 35vh
        // background: red
        float: left

    a
        text-decoration: none

    a:active,a:visited 
        color: white

    a:hover
        color: red





// Section 3/ main container
.mainContent
    width: 80%
    height: 80vh
    // background: #818181
    // background: #464646
    float: left


    // Section 4
    .leagueLeadersContainer
        width: 100%
        height: 22vh
        // background: blue
        float: left
        
        .leagueLeadersText
            margin: 10px 0px
            color: white
            float: left

        .cardScrollContainer
            width: 100%
            height: 15vh
            // overflow-x: none
            // transform: rotate(-90deg)
            // transform-origin: right top
            // overflow-y: hidden
            // overflow-x: scroll
            // overflow: auto
            // white-space:nowrap
            // background: #D9D9D9
            // background: 464646
            overflow: auto
            white-space: nowrap

        .cardContainer
            width: 17%
            height: 100%
            display: inline-block
            border-radius: 27px
            background: #F3F3F3
            margin-left: 10px
            margin-right: 10px

            .playerIcon
                width: 75px
                height: 75px
                border-radius: 100px
                background: red
                float: left

            .playerIcon:nth-child(4)
                width: 75px
                height: 75px
                background: black




// Section 5
.introContainer
    width: 100%
    height: 18vh
    padding-top: 10px
    // background: #818181
    // background: red
    float: left

    .introductionText
        margin: 5px 0px
        color: white
        float: left

    .textBlockOne
        width: 100%
        height: 5vh
        padding-bottom: 20px
        // background: red
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: stretch
        align-items: flex-start
        float: left

    .introHeading
        font-size: 17pt
        font-weight: bold
        font-family: Avenir
        line-height: 180%
        margin-left: 35px
        margin-top: 0
        color: white
        text-align: left
        float: left

    .textBlockTwo
        width: 100%
        height: 50vh
        // background: red
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: stretch
        align-items: flex-start
        overflow-y: scroll
        overflow-x: hidden


    .introText
        font-size: 15pt
        line-height: 180%
        margin-left: 35px
        margin-top: 0
        line-height: 40px
        padding-right: 25px
        color: white
        text-align: left



    .dream-team-text
        font-family: Basketball 
        color: white
        margin-left: 5px
        margin-top: 5px
        float: left

    

// Section 6
.chartsContainer
    width: 100%
    height: 38vh
    // background: blue
    float: left

    .chartOneContainer
        width: 70%
        height: 100%
        // background: #464646
        display: flex
        justify-content: center
        align-items: center
        float: left

        .chartOne
            width: 90%
            height: 70%
            border: 2px solid white

    .chartTwoContainer
        width: 30%
        height: 100%
        // background: green
        display: flex
        justify-content: center
        align-items: center
        float: left

        .chartTwo
            width: 75%
            height: 75%
            border: 2px solid white
            border-radius: 100%

// Section 7
.footer
    width: 100%
    height: 6vh
    background: black
    display: flex
    justify-content: center
    align-items: center
    float: left

    .footerDetails
        color: white