html
    background: #2b2b2b

    
.main-container
    width: 100vw
    height: 100vh
    
    .header
        width: 100vw
        height: 20%
        background: blue
        
    .nav-bar
        width: 30%
        height: 80%
        background: red

    .main-content
        width: 70%
        height: 80%
        background: green

